@import url("https://free.bboxtype.com/embedfonts/?family=FiraGO:400,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "FiraGO", sans-serif;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 2rem 10rem;
  border-bottom: 1px solid #dbdbdb;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 4rem 11rem 1rem 10rem;
  align-items: center;
}
.nav__filter {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid #dbdbdb;
  border-radius: 7px;
  padding: 5px 4px;
  gap: 2rem;
}
.nav__filter--item {
  border-radius: 7px;
  padding: 8px 12px;
  font-weight: bold;
}
.active-filter {
  background-color: #f3f3f3;
}
.nav__btn {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.nav__btn--item {
  border: 1px solid #f93b1d;
  padding: 13px 20px;
  border-radius: 10px;
  font-family: "FiraGO", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.nav__btn--listing {
  background-color: #f93b1d;
  color: #fff;
}

.nav__btn--agent {
  color: #f93b1d;
  background-color: #fff;
}

.filter__container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0 10rem;
}

.filter__container--item {
  padding: 3px 10px;
  border: 1px solid #dbdbdb;
  border-radius: 20px;
}

.filter__container--btn {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
}

.main__container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem 10rem;
}
.main__container--item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
  max-width: 382px;
  overflow: hidden;
  position: relative;
}
.main__container--item:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.item--img {
  width: 100%;
  height: auto;
}
.main__container--item .badge {
  position: absolute;
  background-color: #02152680;
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
  top: 18px;
  left: 18px;
  font-size: 13px;
}
.main__container--item .details {
  padding: 24px;
  text-align: left;
}
.main__container--item .details__price {
  font-size: 26px;
  font-weight: bold;
  margin: 0 0 5px 0;
  text-align: left;
}
.main__container--item .details p {
  margin: 5px 0;
  color: #666;
}
.main__container--item .details .details__info {
  display: flex;
  justify-content: flex-start;
  gap: 25px;
  margin-top: 20px;
}
.main__container--item .details .details__info {
  color: #666;
}
/* ///////////////////////////// */
.nav__filter__regions {
  top: 220px;
  max-width: 731px;
}
.nav__filter__regions--container {
  display: flex;
  gap: 5rem;
  margin-bottom: 2rem;
}
.nav__filter__regions--col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 200px;
  font-size: 14px;
}

.regions-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
}

.regions-checkbox:checked {
  background-color: #45a849;
  border-color: #45a849;
}

.regions-checkbox:checked::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 5px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
/* /////////////////// pricefilter ////////////// */
.nav__filter__prices {
  top: 220px;
  left: 305px;
  max-width: 372px;
}

.nav__filter--inputs {
  display: flex;
  margin-bottom: 20px;
}

.nav__filter--inputs input {
  width: 93%;
  height: 42px;
  padding: 10px;
  border: 1px solid #808a93;
  border-radius: 7px;
  font-size: 14px;
  font-family: "FiraGO", sans-serif;
}
.nav__filter--inputs i {
  position: absolute;
  margin-left: -25px;
  margin-top: 12px;
  color: #000000;
  font-style: normal;
  font-size: 13px;
}

.nav__filter--amounts {
  display: flex;
  justify-content: flex-start;
  gap: 32%;
  margin-bottom: 20px;
}
.nav__filter--amounts h2 {
  font-size: 14px;
  margin: 5px 0 15px 0;
  color: #021526;
}
.nav__filter--amounts p {
  font-size: 13px;
  color: #2d3648;
  margin-bottom: 10px;
  cursor: pointer;
}
.nav__filter--amounts i {
  font-style: normal;
}

.nav__filter--btn {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: auto;
  font-size: 14px;
  width: 5rem;
  height: 1rem;
  padding: 16px 20px 16px 15px;
  background-color: #f93b1d;
  border: 1px solid #f93b1d;
  border-radius: 10px;
  color: #fff;
}

.nav__filter--window {
  position: absolute;
  z-index: 1;
  height: auto;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 1px 2px 10px #89898953;
}
.active-filter-arrow {
  transform: rotate(180deg);
}
/* ////////////////// */
.nav__filter__area {
  top: 220px;
  left: 532px;
  max-width: 372px;
  padding: 1.5rem 1.5rem 1.9rem 1.5rem;
}
/* /////////////////// */
.nav__filter__bedrooms {
  top: 220px;
  left: 681px;
}
.nav__filter__bedrooms--input {
  width: 43px;
}
.nav__filter__bedrooms--input input {
  text-align: center;
  align-items: center;
}

.add-agent-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1009;
  background-color: #fff;
  border-radius: 10px;

  padding: 4rem 6rem 4rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.25);
  z-index: 4;
  transition: all 0.5s;
}
.add-agent-window h2 {
  text-align: center;
  margin: 2rem;
  font-size: 30px;
}
.modal--col {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 2rem 0 2rem 0;
}
.modal--row {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
.add-agent-window label {
  font-weight: bold;
  margin: 10px 0;
}
.modal--row input {
  border: 1px solid #000000;
  height: 2.5rem;
  border-radius: 5px;
}
.modal--row p {
  margin-bottom: 15px;
}
.modal-upload-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed #2d3648;
  border-radius: 4px;
  height: 7rem;
  padding: 20px;
  margin-top: 10px;
  cursor: pointer;
  position: relative;
}
.modal-upload-btn input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.modal-btn {
  display: flex;
  justify-content: flex-end;
  margin: 4rem 1rem 0rem 1rem;
  gap: 1rem;
  padding: 1rem;
}
.modal-btn button {
  font-weight: bold;
  font-size: 15px;
}

/* /////////////////// */
.text-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}
.btn {
  cursor: pointer;
  font-family: "FiraGO", sans-serif;
}

.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.filter-title {
  font-size: 16px;
  margin-bottom: 1.5rem;
}

.valid-data {
  position: absolute;
  font-size: 13px;
  color: red;
  margin-top: 6px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #02152657;
  backdrop-filter: blur(4px);
  z-index: 1;
  transition: all 0.5s;
}

/* //////////////////// */
