@import url("https://free.bboxtype.com/embedfonts/?family=FiraGO:400,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "FiraGO", sans-serif;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 2rem 10rem;
  border-bottom: 1px solid #dbdbdb;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 4rem 10rem 1rem 10rem;
  align-items: center;
}
.nav__filter {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid #dbdbdb;
  border-radius: 7px;
  padding: 4px 4px;
  gap: 3rem;
}
.nav__filter--item {
  border-radius: 7px;
  padding: 7px 12px;
  font-weight: bold;
  cursor: pointer;
}
.active-filter {
  background-color: #f3f3f3;
}
.nav__btn {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.nav__btn--item {
  border: 1px solid #f93b1d;
  padding: 11px 20px;
  border-radius: 10px;
}

.nav__btn--listing {
  background-color: #f93b1d;
  color: #fff;
  cursor: pointer;
}

.nav__btn--agent {
  color: #f93b1d;
  cursor: pointer;
}

.filter__container {
  display: flex;
  gap: 0.5rem;
  padding: 0 10rem;
}

.filter__container--item {
  padding: 3px 10px;
  border: 1px solid #dbdbdb;
  border-radius: 20px;
}
.filter__container--item img {
  cursor: pointer;
}
.filter__container--btn {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.main__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}
.main__container--item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
  margin: 10px;
  max-width: 384px;
  overflow: hidden;
  position: relative;
}
.main__container--item:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.item--img {
  width: 100%;
  height: auto;
}
.main__container--item .badge {
  position: absolute;
  background-color: #02152680;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  top: 10px;
  left: 10px;
  font-size: 14px;
}
.main__container--item .details__price {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
  text-align: left;
}
.main__container--item .details {
  padding: 10px;
  text-align: left;
}
.main__container--item .details p {
  margin: 5px 0;
  color: #666;
}
.main__container--item .details .details__info {
  display: flex;
  justify-content: flex-start;
  gap: 25px;
  margin-top: 10px;
}
.main__container--item .details .details__info {
  color: #666;
}
.text-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}
